<form action="." method='POST' style='width: 95%;' hx-post='.' hx-swap='outerHTML' novalidate>

    <fieldset>
        <legend>Date</legend>
        {{obj.recieved_date }}
    </fieldset>
    <hr>
    <fieldset>
        <legend>Product Inobjation</legend>
        <div class="row">
            <div class=" col-6">
                {{obj.specie }}
            </div>
            <div class=" col-6">
                {{obj.origin }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-6">
                {{obj.processing_method }}
            </div>
            <div class="col-lg-4  col-6">
                {{obj.harvesting_method }}
            </div>
            <div class="col-lg-4 col-6">
                {{obj.freezing_method }}
            </div>
            {{obj.product_image }}
            <div class="row">
                <div class=" col-6">
                    {{obj.catch_type }}
                </div>
                <div class=" col-6">
                    {{obj.packing }}
                </div>
            </div>
        </div>
    </fieldset>
    <hr>
    <fieldset>
        <legend>Quotation Inobjation</legend>
        <div class="row">
            <div class="col-lg-4 col-6">
                {{obj.container_quantity }}
            </div>
            <div class="col-lg-4  col-6">
                {{obj.incoterm }}
            </div>
            <div class="col-lg-4 col-6">
                {{obj.tax }}
            </div>
            <div class="row">
                <div class=" col-6">
                    {{obj.shipped_from }}
                </div>
                <div class=" col-6">
                    {{obj.destination }}
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Notes</legend>
        {{obj.note }}
    </fieldset>

    <br>
    <!-- {{obj.as_p}} -->
    <!-- <button type='submit' class='btn btn-outline-success'>Create Quotation</button> -->
</form>


<div class="card card-body">
    <h5>Size Prices</h5>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Quotation</th>
            <th>Size</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sizeprice in obj.get_sizeprize_children %} {% include "quotations/partials/sizeprice-inline.html" with object=sizeprice %} {% endfor %}
    </tbody>
</table>