{% extends "base.html" %} {% load static %} {% block content %}
<br>
<div class="row">
    <div class="card card-body">
        <h5>Quotations</h5>
    </div>
    <div class="card card-body">
        <div class="d-flex bd-highlight mb-3">
            <div class="me-auto p-2 bd-highlight">
            </div>
            <div class="p-2 bd-highlight">
                <a type="button" href="{% url 'quotation:create_new' %}" class="btn btn-success">Create</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Species</th>
                        <th>Processing Method</th>
                        <th>Harvesting Method</th>
                        <th>Freezing Method</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Rec'd Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in data %}
                    <tr>
                        <td>{{ obj.specie }}</td>
                        <td>{{ obj.processing_method }}</td>
                        <td>{{ obj.harvesting_method }}</td>
                        <td>{{ obj.freezing_method }}</td>
                        <td>{{ obj.origin }}</td>
                        <td>{{ obj.destination }}</td>
                        <td>{{ obj.recieved_date }}</td>
                        <td>
                            <a href="{{ obj.get_formset_edit_url }}" class='btn btn-sm btn-primary'>Edit</a>
                            <a href="{{ obj.get_absolute_url }}" class='btn btn-sm btn-secondary'>Detail</a>
                            <button class='btn btn-sm btn-danger'>Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Pagination -->
            {{data}}
            <nav>{% if data.has_other_pages %}
                <ul class="pagination">
                    {% if data.has_previous %}
                    <a href="?page=1" class='btn btn-outline-secondary mb-4' style='border-radius: 1px solid #d3d3d3;'>First</a>
                    <li class='page-item'>
                        <a href="?page={{data.previous_page_number}}" class='page-link'><i class="fas fa-angle-double-left"></i></a>
                    </li>
                    {%else%}
                    <li class="page-item disable"></li>
                    {% endif%} {% if data.number|add:'-3' > 1 %}
                    <li><a href="?page={{data.number|add:'-3'}}" class="page-link">&hellip;</a></li>
                    {%endif%} {%for i in data.paginator.page_range %} {% if data.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{i}} <span class="sr-only"></span></span>
                    </li>
                    {% elif i > data.number|add:'-3' and i
                    < data.number|add: '3' %} <li class="page-item">
                        <a href="?page={{i}}" class="page-link"></a>
                        </li>
                        {%endif%} {%endfor%} {% if data.paginator.num_pages > data.number|add:'2' %}
                        <li>
                            <a href="?page={{data.number|add:'2'}}" class="page-link">&hellip;</a>
                        </li>
                        <li>
                            <a href="?page={{i}}"></a>
                        </li>
                        <li>
                            <a href="?pages={{data.paginator.num_pages}}" class="page-link">{{data.paginator.num_pages}}</a>
                        </li>
                        {%endif%} {% if data.has_next %}

                        <li class='page-item'>
                            <a href="?page={{data.next_page_number}}" class='page-link'><i class="fas fa-angle-double-right"></i></a>
                        </li>
                        <a href="?page={{data.paginator.num_pages}}" class='btn btn-outline-secondary mb-4' style='border-radius: 1px solid #d3d3d3;'>Last</a> {%else%}
                        <li class="page-item disable"></li>
                        {% endif%}
                </ul>

                {% endif%}</nav>
        </div>
    </div>
</div>
{% endblock %}