{% extends "base.html" %} {% load static %} {% block content %}

<div class="row">
    <div class="card card-body">
        <h5>Quotations</h5>
    </div>
    <div class="card card-body">
        <div class="d-flex bd-highlight mb-3">
            <div class="me-auto p-2 bd-highlight">
            </div>
            <div class="p-2 bd-highlight">
                <a type="button" href="{% url 'quotation:create_new' %}" class="btn btn-success">Create</a>
            </div>
        </div>
				<form id="quotation-filter-form" method="get">
					<div class="table-responsive">

							<table class="table table-bordered table-striped">
									<thead class="thead-dark">
											<tr>
													<th>#</th>
													<th>Species</th>
													<th>Processing Method</th>
													<th>Harvesting Method</th>
													<th>Freezing Method</th>
													<th>Origin</th>
													<th>Destination</th>
													<th>Rec'd Date</th>
													<th>Actions</th>
											</tr>
											<tr>
												<td></td>
												<td>
													<select name="specie" id="specie" class='form-control' multiple>

														{% for specie in form.specie.field.queryset %}
															<option value="{{ specie.id  }}">{{ specie.name }}</option>
														{% endfor %}
													</select>
												</td>
												<td>
													<select name="processing_method" id="processing_method" class='form-control' multiple>

														{% for processing_method in form.processing_method.field.queryset %}
															<option value="{{ processing_method.id  }}">{{ processing_method.name }}</option>
														{% endfor %}
													</select>
												</td>
												<td>
													<select name="harvesting_method" id="harvesting_method" class='form-control' multiple>

														{% for harvesting_method in form.harvesting_method.field.queryset %}
															<option value="{{ harvesting_method.id  }}">{{ harvesting_method.name }}</option>
														{% endfor %}
													</select>
												</td>
												<td>
													<select name="freezing_method" id="freezing_method" class='form-control' multiple>

														{% for freezing_method in form.freezing_method.field.queryset %}
															<option value="{{ freezing_method.id  }}">{{ freezing_method.name }}</option>
														{% endfor %}
													</select>
												</td>
												<td>
													<select name="origin" id="origin" class='form-control' multiple>
														{% for origin in form.origin.field.queryset %}
															<option value="{{ origin.id  }}">{{ origin.name }}</option>
														{% endfor %}
													</select>
												</td>
												<td>
													<select name="destination" id="destination" class='form-control' multiple>
														{% for destination in form.destination.field.queryset %}
															<option value="{{ destination.id  }}">{{ destination.name }}</option>
														{% endfor %}
													</select>
												</td>
												<td>
													{{ form.start_date }}
													{{ form.end_date }}
												</td>
												<td></td>
										</tr>
									</thead>
									<tbody>
											{% for obj in data %}
											<tr >
													<td>
														{{ forloop.counter|add:data.start_index|add:"-1" }}
													</td>
													<td>{{ obj.specie }}</td>
													<td>{{ obj.processing_method }}</td>
													<td>{{ obj.harvesting_method }}</td>
													<td>{{ obj.freezing_method }}</td>
													<td>{{ obj.origin }}</td>
													<td>{{ obj.destination }}</td>
													<td>{{ obj.recieved_date }}</td>
													<td>
															<a href="{{ obj.get_formset_edit_url }}" class='btn btn-sm btn-primary'>Edit</a>
															<a href="{{ obj.get_absolute_url }}" class='btn btn-sm btn-secondary'>Detail</a>
															<a href="{{ obj.get_delete_url }}" class='btn btn-sm btn-danger' hx-post="{{ obj.get_delete_url }}" hx-confirm='Are you sure you wnat to delete {{obj}}?' hx-trigger='click'>Delete</a>
													</td>
											</tr>
											{% endfor %}
									</tbody>
							</table>

							<!-- Pagination -->
							{% if data.has_other_pages %}
									<div class='text-center'>
										<select name="pageSize" id="pageSize" class='p-1 mb-2' onchange='updateTablePagesize({{data.number}})'>
											<option value="10" selected>10</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
										</select>
									</div>
							{%endif%}
							<nav>
								{% if data.has_other_pages %}

								<div class='text-center'>
									<h6>Page {{data.number}} of {{data.paginator.num_pages}}</h6>
								</div>
									<ul class="pagination justify-content-center">

											{% if data.has_previous %}
												<a href="#" onclick="updateTablePaging(1)" class='btn btn-outline-secondary mb-4' style='border-radius: 1px solid #d3d3d3;'>First</a>
												<li class='page-item'>
														<a href="#"  onclick="updateTablePaging({{data.previous_page_number}})"  class='page-link'><i class="fas fa-angle-double-left"></i></a>
												</li>
											{%else%}
												<li class="page-item disable"></li>
											{% endif%}

											{% if data.number|add:'-3' > 1 %}
												<li>
													<a href="#" onclick="updateTablePaging({{data.number|add:'-3'}})" class="page-link">&hellip;</a>
												</li>
											{%endif%}

											{%for i in data.paginator.page_range %}
												{% if data.number == i %}
													<li class="page-item active">
															<span class="page-link">{{i}}<span class="sr-only"></span></span>
													</li>
												{% elif i > data.number|add:'-3' and i < data.number|add:'3' %}
													<li class="page-item">
														<a href="#" onclick="updateTablePaging({{i}})" class="page-link">{{i}}</a>
													</li>
												{%endif%}
											{%endfor%}

											{% if data.paginator.num_pages > data.number|add:'2' %}
													<li>
															<a href="#" onclick="updateTablePaging({{data.number|add:'2'}})" class="page-link">&hellip;</a>
													</li>
													<li>
															<a href="#" onclick="updateTablePaging({{i}})"></a>
													</li>
													<li>
															<a href="#" onclick="updateTablePaging({{data.paginator.num_pages}})" class="page-link">{{data.paginator.num_pages}}</a>
													</li>
											{% endif %}

											{% if data.has_next %}
													<li class='page-item'>
															<a href="#" onclick="updateTablePaging({{data.next_page_number}})" class='page-link'><i class="fas fa-angle-double-right"></i></a>
													</li>
													<a href="#" onclick="updateTablePaging({{data.paginator.num_pages}})" class='btn btn-outline-secondary mb-4' style='border-radius: 1px solid #d3d3d3;'>Last</a> {%else%}
													<li class="page-item disable"></li>
											{% endif%}
									</ul>

									{% endif%}
							</nav>
					</div>
				</form>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
	function updateTablePagesize(page){

		console.log($.trim($('.page-item.active').text()))
	}
	function updateTablePaging(page){

		var selectedPage = page
		var selectedDestinations = $('#destination').val();
		var selectedOrigins = $('#origin').val();
		var selectedFreezingMethods = $('#freezing_method').val();
		var selectedSpecies = $('#specie').val();
		var selectedProcessingMethods = $('#processing_method').val();
		var selectedHarvestingMethods = $('#harvesting_method').val();
		var selectedStartDate = $('#id_start_date').val();
		var selectedEndDate = $('#id_end_date').val();
		var selectPageSize = $('#pageSize').val();

		if(new Date(selectedStartDate).getTime() > new Date(selectedEndDate).getTime())
			{
				alert('Start date cannot be greater than enddate')
				return
			}

			var data = {
				'freezingMethods': selectedFreezingMethods,
				'origins': selectedOrigins,
				'species': selectedSpecies,
				'destinations': selectedDestinations,
				'processingMethods': selectedProcessingMethods,
				'harvestingMethods':selectedHarvestingMethods,
				'startDate':selectedStartDate,
				'endDate':selectedEndDate,
				'page':selectedPage,
				'pageSize':selectPageSize

			};



			$.ajax({
        url: "/quotations/",
        data: data,
        success: function (data) {
          // Replace the table with the updated one
         	$("table tbody").replaceWith($(data).find("table tbody"));
					$('.table-responsive nav').replaceWith($(data).find(".table-responsive nav"));
					console.log({{data.custom_pagesize}})
        },
        error: function (xhr, status, error) {
          console.error("AJAX error:", status, error);
        },
      });
	}


	$(document).ready(function() {

		$('#origin').select2();
		$('#destination').select2();
		$('#specie').select2();
		$('#processing_method').select2();
		$('#harvesting_method').select2();
		$('#freezing_method').select2();



		var updateTable = function(page){
			var selectedDestinations = $('#destination').val();
			var selectedOrigins = $('#origin').val();
			var selectedFreezingMethods = $('#freezing_method').val();
			var selectedSpecies = $('#specie').val();
			var selectedProcessingMethods = $('#processing_method').val();
			var selectedHarvestingMethods = $('#harvesting_method').val();
			var selectedStartDate = $('#id_start_date').val();
			var selectedEndDate = $('#id_end_date').val();
			var selectedPage = page
			var selectPageSize = $('#pageSize').val();

			if(new Date(selectedStartDate).getTime() > new Date(selectedEndDate).getTime())
			{
				alert('Start date cannot be greater than enddate')
				return
			}

			var data = {
				'freezingMethods': selectedFreezingMethods,
				'origins': selectedOrigins,
				'species': selectedSpecies,
				'destinations': selectedDestinations,
				'processingMethods': selectedProcessingMethods,
				'harvestingMethods':selectedHarvestingMethods,
				'startDate':selectedStartDate,
				'endDate':selectedEndDate,
				'page':selectedPage,
				'pageSize':selectPageSize
			};



			$.ajax({
        url: "/quotations/",
        data: data,
        success: function (data) {
          // Replace the table with the updated one
         	$("table tbody").replaceWith($(data).find("table tbody"));
					$('.table-responsive nav').replaceWith($(data).find(".table-responsive nav"));
					$('#pageSize').val({{pageSize}}).change();
        },
        error: function (xhr, status, error) {
          console.error("AJAX error:", status, error);
        },
      });

		}

		$('#id_start_date').change(function() {
			updateTable(1)
		})

		$('#id_end_date').change(function() {
			updateTable(1)
		})

		$('#pageSize').change(function() {
			updateTable($.trim($('.page-item.active').text()))
		})

		$("#origin, #destination,  #specie, #processing_method, #harvesting_method, #freezing_method ").on("change", function () {
			updateTable(1)
		});
	})
</script>
{% endblock %}

