{% extends "base.html" %} {% load static %} {% block content %}

<div class="pt-3 pb-2 mb-3 border-bottom">

	<form id="filters" class="row g-3">

		{% csrf_token %}
		<div class="col-md-6">
			<label for="supplier" class="form-label">Supplier:</label>
			<select name="supplier" id="supplier" class='form-control'>
				<option value="">All</option>
				{% for supplier in suppliers %}
					<option value="{{ supplier.id }}">{{ supplier.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-md-6">
			<label for="origin" class="form-label">Origin:</label>
			<select name="origin" id="origin" class='form-control'>
				<option value="">All</option>
				{% for origin in origins %}
					<option value="{{ origin.id  }}">{{ origin.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-md-6">
			<label for="destination" class="form-label">Destination:</label>
			<select name="destination" id="destination" class='form-control'>
				<option value="">All</option>
				{% for destination in destinations %}
					<option value="{{ destination.id  }}">{{ destination.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-md-6">
			<label for="shipped_from" class="form-label">Shipped From:</label>
			<select name="shipped_from" id="shipped_from" class='form-control'>
				<option value="">All</option>
				{% for shipped_from in shipped_froms %}
					<option value="{{ shipped_from.id  }}">{{ shipped_from.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-md-6">
			<label for="specie" class="form-label">Specie:</label>
			<select name="specie" id="specie" class='form-control'>
				<option value="">All</option>
				{% for specie in species %}
					<option value="{{ specie.id  }}">{{ specie.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-md-6">
			<label for="incoterm" class="form-label">Incoterm:</label>
			<select name="incoterm" id="incoterm" class='form-control'>
				<option value="">All</option>
				{% for incoterm in incoterms %}
					<option value="{{ incoterm.id  }}">{{ incoterm.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-12">
			<button class='btn btn-secondary' type="submit">Apply Filters</button>
		</div>

  </form>
</div>

<canvas id="chart" height='100px'></canvas>

<div class='my-4'>
	<label for="date-slider">Select Date Range:</label>
	<input type="text" id="date-slider" name="date-range" />
</div>

<div class="pt-3 pb-2 mb-3 border-bottom border-top">

	<form id="filter-form" class="row g-3">
		{% csrf_token %}
		<div class="col-md-6">
			<label for="yearM" class="form-label">Years:</label>
			<select name="yearM" id="yearM" class='form-control'  multiple="multiple">
				{% for year in years %}
					<option value="{{ year }}">{{ year }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-md-6 row">
			<div class="col-md-4 pt-3">
				<label for="rangechoiceM" class="form-label">Period:</label>
				<select name="rangechoiceM" id="rangechoiceM" class='form-control'>
					<option value="wk">Week</option>
					<option value="mtn" selected>Month</option>
					<option value="qtr">Quarter</option>
				</select>
			</div>
			<div class="col-md-4 pt-3">
				<label for="priceUnitM" class="form-label">Unit:</label>
				<select name="priceUnitM" id="priceUnitM" class='form-control'>
					<option value="kg" selected>kilo</option>
					<option value="lb" >pound</option>
				</select>
			</div>
			<div class="col-md-4 pt-3">
				<label for="currencyM" class="form-label">Currencies:</label>
				<select name="currencyM" id="currencyM" class='form-control'>
					{% for currency in currencies %}
						<option value="{{ currency.id }}">{{ currency.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="col-md-6">

			<label for="supplierM" class="form-label">Supplier:</label>
			<select name="supplierM" id="supplierM" class='form-control'  multiple="multiple">
				{% for supplier in suppliers %}
					<option value="{{ supplier.id }}">{{ supplier.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-md-6">
			<label for="originM" class="form-label">Origin:</label>
			<select name="originM" id="originM" class='form-control'  multiple="multiple">
				{% for origin in origins %}
					<option value="{{ origin.id  }}">{{ origin.name }}</option>
				{% endfor %}
			</select>
		</div>

		{% comment %} <div class="col-md-6">
			<label for="destination" class="form-label">Destination:</label>
			<select name="destination" id="destination" class='form-control'>
				<option value="">All</option>
				{% for destination in destinations %}
					<option value="{{ destination.id  }}">{{ destination.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-md-6">
			<label for="shipped_from" class="form-label">Shipped From:</label>
			<select name="shipped_from" id="shipped_from" class='form-control'>
				<option value="">All</option>
				{% for shipped_from in shipped_froms %}
					<option value="{{ shipped_from.id  }}">{{ shipped_from.name }}</option>
				{% endfor %}
			</select>
		</div>{% endcomment %}

		<div class="col-md-6">
			<label for="specieM" class="form-label">Specie:</label>
			<select name="specieM" id="specieM" class='form-control' multiple="multiple">
				{% for specie in species %}
					<option value="{{ specie.id  }}">{{ specie.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-md-6">
			<label for="incotermM" class="form-label">Incoterm:</label>
			<select name="incotermM" id="incotermM" class='form-control' multiple="multiple">
				{% for incoterm in incoterms %}
					<option value="{{ incoterm.id  }}">{{ incoterm.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-12">
			<button class='btn btn-secondary' type="submit">Apply Filters</button>
		</div>

  </form>
</div>

<canvas id="chart2" height='100px'></canvas>

<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.1/dist/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script>
	$(document).ready(function() {
		$('#origin').select2();
		$('#supplier').select2();
		$('#destination').select2();
		$('#specie').select2();
		$('#shipped_from').select2();
		$('#incoterm').select2();

		$('#yearM').select2();
		$('#originM').select2();
		$('#supplierM').select2();
		$('#specieM').select2();
		$('#incotermM').select2();
		$('#rangechoiceM').select2();
		$('#priceUnitM').select2();
		$('#currencyM option[value=1]').attr('selected','selected');
		$('#currencyM').select2();



		var dateRange = $('#date-slider');

		$("#date-slider").ionRangeSlider({
      type: "double",
      grid: true,
      min: new Date(`{{ date_range.min }}`).getTime(),
      max: new Date(`{{ date_range.max }}`).getTime(),
      from: new Date(`{{ date_range.min }}`).getTime(),
      to: new Date(`{{ date_range.max }}`).getTime(),
      prettify: function(num) {
        var d = new Date(num);
        var year = d.getFullYear();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        return day + "/" + month + "/" + year;
      },
			onFinish : function(data) {

				var supplier = $('#supplier').val();
				var origin = $('#origin').val();
				var destination = $('#destination').val();
				var specie = $('#specie').val();
				var shipped_from = $('#shipped_from').val();
				var incoterm = $('#incoterm').val();

				$.ajax({
					url: '/quotations/chart-data/',
					data: {
						'supplier': supplier,
						'origin': origin,
						'destination': destination,
						'specie': specie,
						'shipped_from': shipped_from,
						'incoterm': incoterm,
						'startDate': data.from_pretty,
						'endDate': data.to_pretty
					},
					dataType: 'json',
					success: function(data) {
						chart.data.labels = data.labels;
						chart.data.datasets[0].data = data.prices;
						chart.update();
					}
				});
			}
    });

		var ctx = document.getElementById('chart').getContext('2d');

    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: 'Price',
          data: [],
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgba(54, 162, 235, 1)',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          x: {
            type: 'time',
            time: {
              unit: 'month'
            }
          }
        }
      }
    });


		var ctx2 = document.getElementById('chart2').getContext('2d');

    var chart2 = new Chart(ctx2, {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: 'Price',
          data: [],
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgba(54, 162, 235, 1)',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          x: {
            type: 'time',
            time: {
              unit: 'month'
            }
          }
        }
      }
    });


		$.ajax({
			url: '/quotations/chart-data/',

			dataType: 'json',
			success: function(data) {
				chart.data.labels = data.labels;
				chart.data.datasets[0].data = data.prices;
				chart.update();
			}
		});


		$.ajax({
			url: '/quotations/chart-data-multiple/',

			dataType: 'json',
			success: function(data) {
				//chart2.data.labels = data.labels;
				//chart2.data.datasets[0].data = data.prices;
				//chart2.update();
			}
		});

		$('#filter-form').submit(function(event) {
			event.preventDefault();



			var selectedSuppliers = $('#supplierM').val();
			var selectedOrigins = $('#originM').val();
			var selectedYears = $('#yearM').val();
			var selectedSpecies = $('#specieM').val();
			var selectedIncoterms = $('#incotermM').val();

			var selectedPeriod = $('#rangechoiceM').val();
			var selectedUnit = $('#priceUnitM').val();
			var selectedCurrency = $('#currencyM').val();

			var data = {
				'suppliers': selectedSuppliers,
				'origins': selectedOrigins,
				'species': selectedSpecies,
				'incoterms': selectedIncoterms,
				'years': selectedYears,
				'period':selectedPeriod,
				'unit':selectedUnit,
				'currency':selectedCurrency
			};

			// Send the AJAX request to get the data for the chart
			$.ajax({
				url: '/quotations/chart-data-multiple',
				method: 'GET',
				data: data,
				success: function(response) {
					// Update the chart data and options with the response data
					chart2.data = response.data;
					chart2.options = response.options;

					// Redraw the chart
					chart2.update();
				}
			});
		});


		$('#filters').submit(function(e) {
			e.preventDefault();

			var dateRangeVar = dateRange.data("ionRangeSlider").result;

			var supplier = $('#supplier').val();
			var origin = $('#origin').val();
			var destination = $('#destination').val();
			var specie = $('#specie').val();
			var shipped_from = $('#shipped_from').val();
			var incoterm = $('#incoterm').val();

			$.ajax({
				url: '/quotations/chart-data/',
				data: {
					'supplier': supplier,
					'origin': origin,
					'destination': destination,
					'specie': specie,
					'shipped_from': shipped_from,
					'incoterm': incoterm,
					'startDate': dateRangeVar.from_pretty,
					'endDate': dateRangeVar.to_pretty
				},
				dataType: 'json',
				success: function(data) {
					chart.data.labels = data.labels;
					chart.data.datasets[0].data = data.prices;
					chart.update();
				}
			});
		});

		dateRange.on('finish',function(){
			print('detect')
		})
	})

</script>
{% endblock %}