{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container-fluid">
	<div class="row">
	<div class="col-md-4 col-sm-6">
	<div class="wrimagecard wrimagecard-topimage">
          <a href="{% url 'importchart:importsDashboard' 1 %}">
          <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
            <center><img src="{% static 'dashboard/img/photos/shrimp.png' %}" style='width:100px' alt=""></center>
          </div>
          <div class="wrimagecard-topimage_title">
            <h4>Shrimp
            <div class="pull-right badge">18</div></h4>
          </div>
        </a>
      </div>
      </div>
    <div class="col-md-4 col-sm-6">
      <div class="wrimagecard wrimagecard-topimage">
          <a href="{% url 'importchart:importsDashboard' 6 %}">
          <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">
            <center><img src="{% static 'dashboard/img/photos/crab.png' %}" style='width:100px' alt=""></i></center>
          </div>
          <div class="wrimagecard-topimage_title">
            <h4>Crab
            <div class="pull-right badge" id="WrControls"></div></h4>
          </div>
        </a>
      </div>
</div>
<div class="col-md-4 col-sm-6">
      <div class="wrimagecard wrimagecard-topimage">
          <a href="{% url 'importchart:importsDashboard' 4 %}">
          <div class="wrimagecard-topimage_header" style="background-color:  rgba(213, 15, 37, 0.1)">
            <center><img src="{% static 'dashboard/img/photos/shell.png' %}" style='width:100px' alt=""></center>
          </div>
          <div class="wrimagecard-topimage_title" >
            <h4>Scallop
            <div class="pull-right badge" id="WrForms"></div>
            </h4>
          </div>

        </a>
      </div>
	</div>
	<div class="col-md-4 col-sm-6">
      <div class="wrimagecard wrimagecard-topimage">
          <a href="{% url 'importchart:importsDashboard' 3 %}">
          <div class="wrimagecard-topimage_header" style="background-color:  rgba(51, 105, 232, 0.1)">
             <center><img src="{% static 'dashboard/img/photos/lobster.png' %}" style='width:100px' alt=""></center>
          </div>
          <div class="wrimagecard-topimage_title">
            <h4>Lobster
            <div class="pull-right badge" id="WrGridSystem"></div></h4>
          </div>

        </a>
      </div>
	</div>
	<div class="col-md-4 col-sm-6">
      <div class="wrimagecard wrimagecard-topimage">
          <a href="{% url 'importchart:importsDashboard' 2 %}">
          <div class="wrimagecard-topimage_header" style="background-color:  rgba(250, 188, 9, 0.1)">
             <center><img src="{% static 'dashboard/img/photos/fillet.png' %}" style='width:100px' alt=""></center>
          </div>
          <div class="wrimagecard-topimage_title">
            <h4>Salmon
            <div class="pull-right badge" id="WrInformation"></div></h4>
          </div>

        </a>
      </div>
	</div>
	<div class="col-md-4 col-sm-6">
      <div class="wrimagecard wrimagecard-topimage">
          <a href="{% url 'importchart:importsDashboard' 5 %}">
            <div class="wrimagecard-topimage_header" style="background-color: rgba(121, 90, 71, 0.1)">
           <center><img src="{% static 'dashboard/img/photos/halibut (1).png' %}" style='width:100px' alt=""></center>
          </div>
          <div class="wrimagecard-topimage_title">
            <h4>Halibut
            <div class="pull-right badge" id="WrNavigation"></div></h4>
          </div>

        </a>
      </div>
	</div>

</div>
{% comment %} <div class="card card-body">
	<h1 class="h3 mb-3"><strong>Animal Breakdown by Year</strong></h1>
	<div class="pt-3 pb-2 mb-3 border-bottom">
		<form id="piechart-filters" class="row g-3">

			{% csrf_token %}
			<div class="col-md-6">
				<label for="yearM" class="form-label">Countries:</label>
				<select name="yearM" id="yearM" class='form-control' >
					<option value="">All</option>
					{% for yearM in years %}
						<option value="{{ yearM }}">{{ yearM }}</option>
					{% endfor %}
				</select>
			</div>
		</form>
	</div>

	<div id="treemap-chart" style="height: 600px;"></div>
</div> {% endcomment %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
<script>

$(document).ready(function() {
/*
	$('#yearM').select2();
	var treemapChart = echarts.init(document.getElementById('treemap-chart'));


	$("#yearM ").on("change", function () {
		var selectedYear = $('#yearM').val();

		var data = {
			'year': selectedYear,
		};

		$.ajax({
			url: "{% url 'importchart:treemapchart_data_echarts' %}",
			data: data,
			success: function (data) {
				console.log(data.seriesData)

				var option = {
						tooltip: {
								trigger: 'item',
								formatter: "{b}: ${c}"
						},
						series:  data.seriesData[0]
				};
				treemapChart.setOption(option);
			},
			error: function (xhr, status, error) {
				console.error("AJAX error:", status, error);
			},
		});


	});*/

})
</script>
{% endblock %}