{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="row">
	<h1 class="h3 mb-3"><strong>Imports</strong> Management</h1>


	<nav aria-label="Page navigation totals">
		<ul class="pagination animalTotals">
			<li class="page-item  active"><a id='ytdTotal' class="page-link" href="#">YTD</a></li> |
			<li class="page-item"><a class="page-link" id='monthTotal' href="#">Month</a></li>
		</ul>
	</nav>
	<div class="row">
		<div class="col-xl-12 col-xxl-12 d-flex">
				<div class="w-100">
						<div class="row">

								<div class="col-sm-6  col-lg-4 col-xl-2">
										<div class="card">
												<div class="card-body">
														<div class="row">
																<div class="col mt-0">
																		<h5 class="card-title">Shrimp</h5>
																</div>

																<div class="col-auto" >
																		<div class="stat text-primary">
																				<i class="align-middle productIcon"
																					data-id={{total_weight_tons_per_animal_ytd|index:5|dictvalue:'id'}}
																					data-weight={{total_weight_tons_per_animal_ytd|index:5|dictvalue:'total_weight'}}
																					data-weightMth={{total_weight_tons_per_animal_month|index:5|dictvalue:'total_weight'}}
																					data-toggle="popover"
																					title="Shrimp"
																					data-feather="info"></i>
																		</div>
																</div>
														</div>
														<h1 class="mt-1 mb-3" id='shrimpThisYearWeightId'>{{total_weight_tons_per_animal_ytd|index:5|dictvalue:'total_weight'}} tons</h1>
														<div class="mb-0">
															<span class="text-muted">Last Year: </span>
																<span id='shrimpLastYearWeightId'> <i class="mdi mdi-arrow-bottom-right"></i> {{total_weight_tons_per_animal_ytd_last_year|index:5|dictvalue:'total_weight'}} tons </span>

														</div>
												</div>
										</div>
								</div>

								<div class="col-sm-6  col-lg-4 col-xl-2">
									<div class="card">
											<div class="card-body">
													<div class="row">
															<div class="col mt-0">
																	<h5 class="card-title">Crab</h5>
															</div>

															<div class="col-auto">
																	<div class="stat text-primary">
																			<i class="align-middle productIcon"
																				data-id={{total_weight_tons_per_animal_ytd|index:0|dictvalue:'id'}}
																				data-weight={{total_weight_tons_per_animal_ytd|index:0|dictvalue:'total_weight'}}
																				data-weightMth={{total_weight_tons_per_animal_month|index:0|dictvalue:'total_weight'}}
																				data-toggle="popover"
																				title="Crab"
																				data-feather="info"></i>
																	</div>
															</div>
													</div>
													<h1 class="mt-1 mb-3" id='crabThisYearWeightId'>{{total_weight_tons_per_animal_ytd|index:0|dictvalue:'total_weight'}} tons</h1>
													<div class="mb-0">
														<span class="text-muted">Last Year: </span>
															<span  id='crabLastYearWeightId'> <i class="mdi mdi-arrow-bottom-right"></i> {{total_weight_tons_per_animal_ytd_last_year|index:0|dictvalue:'total_weight'}} tons </span>

													</div>
											</div>
									</div>
							</div>

							<div class="col-sm-6  col-lg-4 col-xl-2">
								<div class="card">
										<div class="card-body">
												<div class="row">
														<div class="col mt-0">
																<h5 class="card-title">Scallop</h5>
														</div>

														<div class="col-auto">
																<div class="stat text-primary">
																		<i class="align-middle productIcon"
																			data-id={{total_weight_tons_per_animal_ytd|index:4|dictvalue:'id'}}
																			data-weight={{total_weight_tons_per_animal_ytd|index:4|dictvalue:'total_weight'}}
																			data-weightMth={{total_weight_tons_per_animal_month|index:4|dictvalue:'total_weight'}}
																			data-toggle="popover"
																			title="Scallop"
																			data-feather="info"></i>
																</div>
														</div>
												</div>
												<h1 class="mt-1 mb-3" id='scallopThisYearWeightId'>{{total_weight_tons_per_animal_ytd|index:4|dictvalue:'total_weight'}} tons</h1>
												<div class="mb-0">
													<span class="text-muted">Last Year: </span>
														<span  id='scallopLastYearWeightId'> <i class="mdi mdi-arrow-bottom-right"></i> {{total_weight_tons_per_animal_ytd_last_year|index:4|dictvalue:'total_weight'}} tons </span>

												</div>
										</div>
								</div>
						</div>

								<div class="col-sm-6  col-lg-4 col-xl-2">
										<div class="card">
												<div class="card-body">
														<div class="row">
																<div class="col mt-0">
																		<h5 class="card-title">Lobster</h5>
																</div>

																<div class="col-auto">
																		<div class="stat text-primary">
																				<i class="align-middle productIcon"
																					data-id={{total_weight_tons_per_animal_ytd|index:2|dictvalue:'id'}}
																					data-weight={{total_weight_tons_per_animal_ytd|index:2|dictvalue:'total_weight'}}
																					data-weightMth={{total_weight_tons_per_animal_month|index:2|dictvalue:'total_weight'}}
																					data-toggle="popover"
																					title="Lobster"
																					data-feather="info"></i>
																		</div>
																</div>
														</div>
														<h1 class="mt-1 mb-3" id='lobsterThisYearWeightId'>{{total_weight_tons_per_animal_ytd|index:2|dictvalue:'total_weight'}} tons</h1>
														<div class="mb-0">
															<span class="text-muted">Last Year: </span>
																<span  id='lobsterLastYearWeightId'> <i class="mdi mdi-arrow-bottom-right"></i> {{total_weight_tons_per_animal_ytd_last_year|index:2|dictvalue:'total_weight'}} tons </span>

														</div>
												</div>
										</div>
								</div>

								<div class="col-sm-6  col-lg-4 col-xl-2">
									<div class="card">
											<div class="card-body">
													<div class="row">
															<div class="col mt-0">
																	<h5 class="card-title">Salmon</h5>
															</div>

															<div class="col-auto">
																	<div class="stat text-primary">
																			<i class="align-middle productIcon"
																				data-id={{total_weight_tons_per_animal_ytd|index:3|dictvalue:'id'}}
																				data-weight={{total_weight_tons_per_animal_ytd|index:3|dictvalue:'total_weight'}}
																				data-weightMth={{total_weight_tons_per_animal_month|index:3|dictvalue:'total_weight'}}
																				data-toggle="popover"
																				title="Salmon"
																				data-feather="info"></i>
																	</div>
															</div>
													</div>
													<h1 class="mt-1 mb-3" id='salmonThisYearWeightId'>{{total_weight_tons_per_animal_ytd|index:3|dictvalue:'total_weight'}} tons</h1>
													<div class="mb-0">
														<span class="text-muted">Last Year: </span>
															<span  id='salmonLastYearWeightId'> <i class="mdi mdi-arrow-bottom-right"></i> {{total_weight_tons_per_animal_ytd_last_year|index:3|dictvalue:'total_weight'}} tons </span>

													</div>
											</div>
									</div>
							</div>

							<div class="col-sm-6  col-lg-4 col-xl-2">
								<div class="card">
										<div class="card-body">
												<div class="row">
														<div class="col mt-0">
																<h5 class="card-title">Halibut</h5>
														</div>

														<div class="col-auto">
																<div class="stat text-primary">
																		<i class="align-middle productIcon"
																			data-id={{total_weight_tons_per_animal_ytd|index:1|dictvalue:'id'}}
																			data-weight={{total_weight_tons_per_animal_ytd|index:1|dictvalue:'total_weight'}}
																			data-weightMth={{total_weight_tons_per_animal_month|index:1|dictvalue:'total_weight'}}
																			data-toggle="popover" title="Halibut"
																			data-feather="info"></i>
																</div>
														</div>
												</div>
												<h1 class="mt-1 mb-3" id='halibutThisYearWeightId'>{{total_weight_tons_per_animal_ytd|index:1|dictvalue:'total_weight'}} tons</h1>
												<div class="mb-0">
														<span class="text-muted">Last Year: </span>
														<span  id='halibutLastYearWeightId'> <i class="mdi mdi-arrow-bottom-right"></i> {{total_weight_tons_per_animal_ytd_last_year|index:1|dictvalue:'total_weight'}} tons </span>

												</div>
										</div>
								</div>

						</div>
						</div>
				</div>
		</div>


</div>
	<div class="card card-body">


			<div class="d-flex bd-highlight mb-3">
					<div class="me-auto p-2 bd-highlight">
					</div>
					<div class="p-2 bd-highlight">
							<button type="button" data-bs-toggle="modal" data-bs-target="#excelFormModal" class="btn btn-success">Upload</button>
					</div>

					<div class="modal fade" id="excelFormModal" tabindex="-1" role="dialog" aria-labelledby="excelFormModal" aria-hidden="true">
						<div class="modal-dialog" role="document">
								<div class="modal-content">
										<div class="modal-header">
												<h5 class="modal-title">Upload Imports</h5>

										</div>
										<form class="container-fluid my-4" method="post" id="uploadExcel_form">

												<div class='modal-body'>

														{% csrf_token %}
														<div class="form-group">
															<label for="file" class="form-label">Select file:</label>
															<input id='importFile' type="file" name="file" class='form-control' accept=".csv,.xlsx"><br>
														</div>

												</div>
												<div class="modal-footer">
														<button type="submit" id='uploadExcelId' class="btn btn-primary">Save</button>
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
										</form>
								</div>
						</div>
					</div>
			</div>
			<form id="quotation-filter-form" method="get">
				{% csrf_token %}
				<div class="table-responsive">

						<table class="table table-bordered table-striped">
								<thead class="thead-dark">
										<tr class='columnNames'>
												<th>#</th>
												<th>Commodity Code</th>
												<th style="width:8%">Month</th>
												<th style="width:25%">Description</th>
												<th>Country</th>
												<th>Price/kg (USD)</th>
												<th>Weight (kg)</th>
												<th>Total Cost</th>
										</tr>
										<tr class='columnSelects'>
											<td></td>
											<td data-label="Commodity Code">
												<select name="commodityCode" id="commodityCode" class='form-control' multiple>
													{% for commodityCode in form.commodity_code.field.queryset %}
														<option value="{{ commodityCode  }}">{{ commodityCode }}</option>
													{% endfor %}
												</select>
											</td>
											<td data-label="Month">
												<select name="start_month" id="start_month" class='form-control' >
													<option value="">All</option>
													{% for start_month in form.start_month.field.queryset %}
														<option value="{{ start_month|date:"Y-m-d"  }}">{{ start_month|date:"Y-m" }}</option>
													{% endfor %}
												</select>
												<select name="end_month" id="end_month" class='form-control' >
													<option value="">All</option>
													{% for end_month in form.end_month.field.queryset %}
														<option value="{{ end_month|date:"Y-m-d"  }}">{{ end_month|date:"Y-m" }}</option>
													{% endfor %}
												</select>
											</td>
											<td data-label="Description">
												<select name="description" id="description" class='form-control' multiple>
													{% for description in form.production_description.field.queryset %}
														<option value="{{ description  }}">{{ description }}</option>
													{% endfor %}
												</select>
											</td>
											<td data-label="Country">
												<select name="country" id="country" class='form-control' multiple>
													{% for country in form.country.field.queryset %}
														<option value="{{ country.id  }}">{{ country.name }}</option>
													{% endfor %}
												</select>
											</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
								</thead>
								<tbody>
									{% for obj in data %}
											<tr >
													<td data-label="#">
														{{ forloop.counter|add:data.start_index|add:"-1" }}
													</td>
													<td data-label="Commodity Code">{{ obj.commodity_code }}</td>
													<td data-label="Month">{{ obj.month|date:"Y-m" }}</td>
													<td data-label="Description">{{ obj.production_description }}</td>
													<td data-label="Country">{{ obj.country }}</td>
													<td data-label="Price/kg (USD)">{{ obj.price_per_kg }}</td>
													<td data-label="Weight (kg)">{{ obj.total_weight_kg }}</td>
													<td data-label="Total Cost">{{ obj.total_price }}</td>
											</tr>
											{% endfor %}
								</tbody>
						</table>
						<div >
							<div class='my-4 ' style='margin: auto;width:80%;'>
								<label for="price-slider">Select Price Range (USD$):</label>
								<input type="text" id="price-slider" name="price-range" />
							</div>
							<div class='my-4' style='margin: auto;width:80%;'>
								<label for="weight-slider">Select Weight Range (tons):</label>
								<input type="text" id="weight-slider" name="weight-range" />
							</div>
						</div>

						<!-- Pagination -->
						{% if data.has_other_pages %}
						<div class='text-center'>
							<select name="pageSize" id="pageSize" class='p-1 mb-2' onchange='updateTablePagesize({{data.number}})'>
								<option value="10" selected>10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
						</div>
				{%endif%}
				<nav>
					{% if data.has_other_pages %}

					<div class='text-center'>
						<h6>Page {{data.number}} of {{data.paginator.num_pages}}</h6>
					</div>
						<ul class="pagination justify-content-center">

								{% if data.has_previous %}
									<a href="#" onclick="updateTablePaging(1)" class='btn btn-outline-secondary mb-4' style='border-radius: 1px solid #d3d3d3;'>First</a>
									<li class='page-item'>
											<a href="#"  onclick="updateTablePaging({{data.previous_page_number}})"  class='page-link'><i class="fas fa-angle-double-left"></i></a>
									</li>
								{%else%}
									<li class="page-item disable"></li>
								{% endif%}

								{% if data.number|add:'-3' > 1 %}
									<li>
										<a href="#" onclick="updateTablePaging({{data.number|add:'-3'}})" class="page-link">&hellip;</a>
									</li>
								{%endif%}

								{%for i in data.paginator.page_range %}
									{% if data.number == i %}
										<li class="page-item active">
												<span class="page-link">{{i}}<span class="sr-only"></span></span>
										</li>
									{% elif i > data.number|add:'-3' and i < data.number|add:'3' %}
										<li class="page-item">
											<a href="#" onclick="updateTablePaging({{i}})" class="page-link">{{i}}</a>
										</li>
									{%endif%}
								{%endfor%}

								{% if data.paginator.num_pages > data.number|add:'2' %}
										<li>
												<a href="#" onclick="updateTablePaging({{data.number|add:'2'}})" class="page-link">&hellip;</a>
										</li>
										<li>
												<a href="#" onclick="updateTablePaging({{i}})"></a>
										</li>
										<li>
												<a href="#" onclick="updateTablePaging({{data.paginator.num_pages}})" class="page-link">{{data.paginator.num_pages}}</a>
										</li>
								{% endif %}

								{% if data.has_next %}
										<li class='page-item'>
												<a href="#" onclick="updateTablePaging({{data.next_page_number}})" class='page-link'><i class="fas fa-angle-double-right"></i></a>
										</li>
										<a href="#" onclick="updateTablePaging({{data.paginator.num_pages}})" class='btn btn-outline-secondary mb-4' style='border-radius: 1px solid #d3d3d3;'>Last</a> {%else%}
										<li class="page-item disable"></li>
								{% endif%}
						</ul>

						{% endif%}
				</nav>
				</div>
			</form>
	</div>
</div>

<div class="modal fade" id="tooltip-modal" tabindex="-1" role="dialog" aria-labelledby="tooltip-title" aria-hidden="true">
	<div class="modal-dialog" role="document">
			<div class="modal-content">
					<div class="modal-header">
							<h5 class="modal-title" id="tooltip-title"></h5>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
					<div class="modal-body">
						<p id="tooltip-content"></p>
				</div>
			</div>
	</div>
</div>
{% comment %} <div class="modal fade" id="tooltip-modal" tabindex="-1" role="dialog" aria-labelledby="tooltip-title" aria-hidden="true">
	<div class="modal-dialog" role="document">
			<div class="modal-content">
					<div class="modal-header">
							<h5 class="modal-title" id="tooltip-title"></h5>
							<button type="button" class="close" bs-data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
							</button>
					</div>
					<div class="modal-body">
							<p id="tooltip-content"></p>
					</div>
			</div>
	</div>
</div> {% endcomment %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script>
	var priceRange = $('#price-slider');
	var weightRange = $('#weight-slider');
	function updateTablePaging(page){
		var weightRangeVar = weightRange.data("ionRangeSlider").result;
		var priceRangeVar = priceRange.data("ionRangeSlider").result;
		var selectedPage = page
		var selectPageSize = $('#pageSize').val();
		var selectedCommodityCodes = $('#commodityCode').val();
		var selectedStartMonth = $('#start_month').val();
		var selectedEndMonth = $('#end_month').val();
		var selectedDescriptions = $('#description').val();
		var selectedCountries = $('#country').val();

		if(new Date(selectedStartMonth).getTime() > new Date(selectedEndMonth).getTime())
		{
			alert('Start date cannot be greater than enddate')
			return
		}

			var data = {
				'page':selectedPage,
				'pageSize':selectPageSize,
				'commodityCodes': selectedCommodityCodes,
				'startMonth': selectedStartMonth,
				'endMonth': selectedEndMonth,
				'descriptions': selectedDescriptions,
				'countries': selectedCountries,
				'start_weight':weightRangeVar.from,
				'end_weight':weightRangeVar.to,
				'start_price':priceRangeVar.from,
				'end_price':priceRangeVar.to,
			};

			$.ajax({
        url: "/importcharts/",
        data: data,
        success: function (data) {
          // Replace the table with the updated one
         	$("table tbody").replaceWith($(data).find("table tbody"));
					$('.table-responsive nav').replaceWith($(data).find(".table-responsive nav"));

        },
        error: function (xhr, status, error) {
          console.error("AJAX error:", status, error);
        },
      });
	}
		$(document).ready(function() {

			$('#commodityCode').select2();
			$('#description').select2();
			$('#country').select2();

				// when user clicks add more btn of sizeprices
				var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
				var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
					return new bootstrap.Popover(popoverTriggerEl)
				})

				$("#price-slider").ionRangeSlider({
					skin: "big",
					type: "double",
					grid: true,
					min: `{{ price_weight_limits.min_price }}`,
					max: `{{ price_weight_limits.max_price }}`,
					from: `{{ price_weight_limits.min_price }}`,
					to: `{{ price_weight_limits.max_price }}`,
					step: 0.1,
					prettify: function(num) {

					 return 'USD$ '+(num*1.00).toFixed(2);
					},

					onFinish : function(data) {
						var weightRangeVar = weightRange.data("ionRangeSlider").result;
						var selectedPage = $.trim($('.page-item.active').text())
						var selectPageSize = $('#pageSize').val();
						var selectedCommodityCodes = $('#commodityCode').val();
						var selectedStartMonth = $('#start_month').val();
						var selectedEndMonth = $('#end_month').val();
						var selectedDescriptions = $('#description').val();
						var selectedCountries = $('#country').val();

						if(new Date(selectedStartMonth).getTime() > new Date(selectedEndMonth).getTime())
						{
							alert('Start date cannot be greater than enddate')
							return
						}

							var data = {
								'page':selectedPage,
								'pageSize':selectPageSize,
								'commodityCodes': selectedCommodityCodes,
								'startMonth': selectedStartMonth,
								'endMonth': selectedEndMonth,
								'descriptions': selectedDescriptions,
								'countries': selectedCountries,
								'start_price':data.from,
								'end_price':data.to,
								'start_weight':weightRangeVar.from,
								'end_weight':weightRangeVar.to,
							};
							$.ajax({
								url: "/importcharts/",
								data: data,
								success: function (data) {
									// Replace the table with the updated one
									 $("table tbody").replaceWith($(data).find("table tbody"));
									$('.table-responsive nav').replaceWith($(data).find(".table-responsive nav"));

								},
								error: function (xhr, status, error) {
									console.error("AJAX error:", status, error);
								},
							});
					}
				});

				$("#weight-slider").ionRangeSlider({
					skin: "big",
					type: "double",
					grid: true,
					min: `{{ price_weight_limits.min_weight }}`,
					max: `{{ price_weight_limits.max_weight }}`,
					from: `{{ price_weight_limits.min_weight }}`,
					to: `{{ price_weight_limits.max_weight }}`,
					step: 10,
					prettify: function(num) {

					 return num + 'tons';
					},

					onFinish : function(data) {
						var priceRangeVar = priceRange.data("ionRangeSlider").result;
						var selectedPage = $.trim($('.page-item.active').text())
						var selectPageSize = $('#pageSize').val();
						var selectedCommodityCodes = $('#commodityCode').val();
						var selectedStartMonth = $('#start_month').val();
						var selectedEndMonth = $('#end_month').val();
						var selectedDescriptions = $('#description').val();
						var selectedCountries = $('#country').val();

						if(new Date(selectedStartMonth).getTime() > new Date(selectedEndMonth).getTime())
						{
							alert('Start date cannot be greater than enddate')
							return
						}

							var data = {
								'page':selectedPage,
								'pageSize':selectPageSize,
								'commodityCodes': selectedCommodityCodes,
								'startMonth': selectedStartMonth,
								'endMonth': selectedEndMonth,
								'descriptions': selectedDescriptions,
								'countries': selectedCountries,
								'start_price':priceRangeVar.from,
								'end_price':priceRangeVar.to,
								'start_weight':data.from,
								'end_weight':data.to,
							};
							$.ajax({
								url: "/importcharts/",
								data: data,
								success: function (data) {
									// Replace the table with the updated one
									 $("table tbody").replaceWith($(data).find("table tbody"));
									$('.table-responsive nav').replaceWith($(data).find(".table-responsive nav"));

								},
								error: function (xhr, status, error) {
									console.error("AJAX error:", status, error);
								},
							});
					}
				});

				var popTitle = '';
				$('.productIcon').popover({
					html:true,
					title:'Testing',
					trigger:'hover',
					content: function(){
						var result = '';
						var weight = $(this).data('weight')
						var weightMth = $(this).data('weightmth')
						var isYtd = $('#ytdTotal').parent().hasClass('active')
					 $.ajax({
						async: false,
							url: '/importcharts/tooltip/' + $(this).data('id'),
							data: {'isYtd':$('#ytdTotal').parent().hasClass('active')},
							dataType: 'json',
							success: function(data) {
								result = '<ul>';
									if(isYtd) {
										for (var i = 0; i < data.content.length; i++) {
											result += '<li>' + data.content[i].name + ': <span class="bold">' + (data.content[i].total_weight * 100/ weight).toFixed(2) + '%</span></li>';
										}
									}
									else{
										for (var i = 0; i < data.content.length; i++) {
											result += '<li>' + data.content[i].name + ': <span class="bold">' + (data.content[i].total_weight * 100/ weightMth).toFixed(2) + '%</span></li>';
										}
									}

									result += '</ul>';
									popTitle = data.title
									console.log(result)

							}
						});
						console.log($(this).data('weight'))
						return result
					},
					title:popTitle
				})




				$('#tooltip-modal').on('hidden.bs.modal', function () {
					$('#tooltip-content').empty()
				})

				$('.productIcon').mouseleave(function() {
					$('#tooltip-modal').modal('hide');

				})

				function checkCurrentToLastYear(currentYear,lastYear,element)
				{
					element.removeClass('text-danger')
					element.removeClass('text-success')

					if(parseFloat(lastYear) > parseFloat(currentYear)){
						element.addClass('text-danger')
					}
					else{
						element.addClass('text-success')
					}
				}

				$.ajax({
					url: "{% url 'importchart:get_current_ytd_weight' %}",
					success: function (data) {
						// Replace the table with the updated one

						checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[5].total_weight,data.total_weight_tons_per_animal_ytd_last_year[5].total_weight,$('#shrimpLastYearWeightId'))

						checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[0].total_weight,data.total_weight_tons_per_animal_ytd_last_year[0].total_weight,$('#crabLastYearWeightId'))

						checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[4].total_weight,data.total_weight_tons_per_animal_ytd_last_year[4].total_weight,$('#scallopLastYearWeightId'))

						checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[2].total_weight,data.total_weight_tons_per_animal_ytd_last_year[2].total_weight,$('#lobsterLastYearWeightId'))

						checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[3].total_weight,data.total_weight_tons_per_animal_ytd_last_year[3].total_weight,$('#salmonLastYearWeightId'))

						checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[1].total_weight,data.total_weight_tons_per_animal_ytd_last_year[1].total_weight,$('#halibutLastYearWeightId'))
					},
					error: function (xhr, status, error) {
						console.error("AJAX error:", status, error);
					},
				});

				$('#ytdTotal').on('click',function(){
					$('.animalTotals .page-item').removeClass('active')
					$('#ytdTotal').parent().addClass('active')

					$.ajax({
						url: "{% url 'importchart:get_current_ytd_weight' %}",
						success: function (data) {
							// Replace the table with the updated one

							$('#shrimpThisYearWeightId').text(`${data.total_weight_tons_per_animal_ytd[5].total_weight} tons`)
							$('#shrimpLastYearWeightId').text(`${data.total_weight_tons_per_animal_ytd_last_year[5].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[5].total_weight,data.total_weight_tons_per_animal_ytd_last_year[5].total_weight,$('#shrimpLastYearWeightId'))

							$('#crabThisYearWeightId').text(`${data.total_weight_tons_per_animal_ytd[0].total_weight} tons`)
							$('#crabLastYearWeightId').text(`${data.total_weight_tons_per_animal_ytd_last_year[0].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[0].total_weight,data.total_weight_tons_per_animal_ytd_last_year[0].total_weight,$('#crabLastYearWeightId'))

							$('#scallopThisYearWeightId').text(`${data.total_weight_tons_per_animal_ytd[4].total_weight} tons`)
							$('#scallopLastYearWeightId').text(`${data.total_weight_tons_per_animal_ytd_last_year[4].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[4].total_weight,data.total_weight_tons_per_animal_ytd_last_year[4].total_weight,$('#scallopLastYearWeightId'))

							$('#lobsterThisYearWeightId').text(`${data.total_weight_tons_per_animal_ytd[2].total_weight} tons`)
							$('#lobsterLastYearWeightId').text(`${data.total_weight_tons_per_animal_ytd_last_year[2].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[2].total_weight,data.total_weight_tons_per_animal_ytd_last_year[2].total_weight,$('#lobsterLastYearWeightId'))

							$('#salmonThisYearWeightId').text(`${data.total_weight_tons_per_animal_ytd[3].total_weight} tons`)
							$('#salmonLastYearWeightId').text(`${data.total_weight_tons_per_animal_ytd_last_year[3].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[3].total_weight,data.total_weight_tons_per_animal_ytd_last_year[3].total_weight,$('#salmonLastYearWeightId'))

							$('#halibutThisYearWeightId').text(`${data.total_weight_tons_per_animal_ytd[1].total_weight} tons`)
							$('#halibutLastYearWeightId').text(`${data.total_weight_tons_per_animal_ytd_last_year[1].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_ytd[1].total_weight,data.total_weight_tons_per_animal_ytd_last_year[1].total_weight,$('#halibutLastYearWeightId'))
						},
						error: function (xhr, status, error) {
							console.error("AJAX error:", status, error);
						},
					});

				})

				$('#monthTotal').on('click',function(){
					$('.animalTotals .page-item').removeClass('active')
					$('#monthTotal').parent().addClass('active')

					$.ajax({
						url: "{% url 'importchart:get_current_month_weight' %}",
						success: function (data) {
							// Replace the table with the updated one

							$('#shrimpThisYearWeightId').text(`${data.total_weight_tons_per_animal_month[5].total_weight} tons`)
							$('#shrimpLastYearWeightId').text(`${data.total_weight_tons_per_animal_month_last_year[5].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_month[5].total_weight,data.total_weight_tons_per_animal_month_last_year[5].total_weight,$('#shrimpLastYearWeightId'))

							$('#crabThisYearWeightId').text(`${data.total_weight_tons_per_animal_month[0].total_weight} tons`)
							$('#crabLastYearWeightId').text(`${data.total_weight_tons_per_animal_month_last_year[0].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_month[0].total_weight,data.total_weight_tons_per_animal_month_last_year[0].total_weight,$('#crabLastYearWeightId'))

							$('#scallopThisYearWeightId').text(`${data.total_weight_tons_per_animal_month[4].total_weight} tons`)
							$('#scallopLastYearWeightId').text(`${data.total_weight_tons_per_animal_month_last_year[4].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_month[4].total_weight,data.total_weight_tons_per_animal_month_last_year[4].total_weight,$('#scallopLastYearWeightId'))

							$('#lobsterThisYearWeightId').text(`${data.total_weight_tons_per_animal_month[2].total_weight} tons`)
							$('#lobsterLastYearWeightId').text(`${data.total_weight_tons_per_animal_month_last_year[2].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_month[2].total_weight,data.total_weight_tons_per_animal_month_last_year[2].total_weight,$('#lobsterLastYearWeightId'))

							$('#salmonThisYearWeightId').text(`${data.total_weight_tons_per_animal_month[3].total_weight} tons`)
							$('#salmonLastYearWeightId').text(`${data.total_weight_tons_per_animal_month_last_year[3].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_month[3].total_weight,data.total_weight_tons_per_animal_month_last_year[3].total_weight,$('#salmonLastYearWeightId'))

							$('#halibutThisYearWeightId').text(`${data.total_weight_tons_per_animal_month[1].total_weight} tons`)
							$('#halibutLastYearWeightId').text(`${data.total_weight_tons_per_animal_month_last_year[1].total_weight} tons`)

							checkCurrentToLastYear(data.total_weight_tons_per_animal_month[1].total_weight,data.total_weight_tons_per_animal_month_last_year[1].total_weight,$('#halibutLastYearWeightId'))
						},
						error: function (xhr, status, error) {
							console.error("AJAX error:", status, error);
						},
					});
				})

				var updateTable = function(page){
					var selectedPage = page
					var selectPageSize = $('#pageSize').val();
					var selectedCommodityCodes = $('#commodityCode').val();
					var selectedStartMonth = $('#start_month').val();
					var selectedEndMonth = $('#end_month').val();
					var selectedDescriptions = $('#description').val();
					var selectedCountries = $('#country').val();
					var weightRangeVar = weightRange.data("ionRangeSlider").result;
					var priceRangeVar = priceRange.data("ionRangeSlider").result;

					if(selectedEndMonth != '' && selectedEndMonth != null && selectedStartMonth != '' && selectedStartMonth != null){
						if(new Date(selectedStartMonth).getTime() > new Date(selectedEndMonth).getTime())
						{
							alert('Start date cannot be greater than enddate')
							return
						}
					}


					var data = {
						'commodityCodes': selectedCommodityCodes,
						'startMonth': selectedStartMonth,
						'endMonth': selectedEndMonth,
						'descriptions': selectedDescriptions,
						'countries': selectedCountries,
						'page':selectedPage,
						'pageSize':selectPageSize,
						'start_weight':weightRangeVar.from,
						'end_weight':weightRangeVar.to,
						'start_price':priceRangeVar.from,
						'end_price':priceRangeVar.to,
					};
					$.ajax({
						url: "/importcharts/",
						data: data,
						success: function (data) {
							// Replace the table with the updated one
							 $("table tbody").replaceWith($(data).find("table tbody"));
							$('.table-responsive nav').replaceWith($(data).find(".table-responsive nav"));
							//$('#pageSize').val({{pageSize}}).change();
						},
						error: function (xhr, status, error) {
							console.error("AJAX error:", status, error);
						},
					});

				}

				$("#commodityCode, #start_month, #end_month,  #description, #country ").on("change", function () {
					updateTable(1)
				});

				$('#pageSize').change(function() {
					updateTable($.trim($('.page-item.active').text()))
				})

				$('.priceunit').each(function() {
						var idNum = $(this)[0].id[$(this)[0].id.indexOf('-') + 1]
						if ($(this).val() == 3) {
								$('#netweight-' + idNum.toString()).removeClass('net-weight-display')
						}
				})

				$('#uploadExcel_form').submit('click', function(e) {
					e.preventDefault();
						var formData = new FormData(this);

						$.ajax({
							type: 'POST',
							data: formData,
							processData: false,
							contentType: false,
							url: "{% url 'importchart:import_file' %}",
								// on success
								success: function(response) {

								},
								// on error
								error: function(response) {
										// alert the error if any error occured
										console.log(response.responseJSON.errors)
								}
						});

						return false;
				});





		});
</script>

{% endblock %}